/* styles.css */
/* universal selector - Applies to whole document */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: #bb158f;
	color: #fff;
}
/* To center everything in game */
.game {
	display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.align-center {
	display: flex;
    width: 65vw;
    justify-content: space-evenly;
    margin-top: 7.5rem;
	margin-left: 15rem;
}

/* Styling on all three buttons */
#Rock, #Paper, #Scissors, #Bomb {
	padding: 0.8rem;
    width: 100px;
    border-radius: 10px;
    background: rgb(98, 0, 128);
    color: white;
    border-color: rgb(69, 227, 245);
    /* border: none; */
    cursor: pointer;
	
}
	


/* Responsive Design */
@media screen and (max-width: 612px) {
	.title{
		text-align: center;
	}
	.game{
		position: absolute;
		top: 200px;
		width: 100vw;
	}
	.options{
		width: 100vw;
	}
}